    <!-- This is a 'child' template sourced from our master report template. -->
    <!-- To reference a host's facts, use our loop variable named thehost, i.e. hostvars[thehost]['some_fact'] -->
    <hr>
    <h2 id="{{ thehost }}">{{ thehost }}</h2>

    <!-- If host was missing, give a generic error. Otherwise, print facts and job output. Use default() to guard against missing variables. -->
    {% if hostvars[thehost]['missing']|bool %}

      <p style="color:red;"><strong>Host was unavailable at the time of this job; please investigate whether this was a planned or unplanned outage.</strong></p>

    {% else %}

      {% if not hostvars[thehost]['job_success']|bool %}<p style="color:red"><strong>Host encountered issues during job execution, see information below.</strong></p>{% endif %}

      <p><strong>Informacion de host:</strong></p>
      <ul>
        <li>OS: {{ hostvars[thehost]['ansible_distribution'] | default('N/A') }} {{ hostvars[thehost]['ansible_distribution_version'] | default('N/A') }}, Kernel: {{ hostvars[thehost]['ansible_kernel'] | default('N/A') }}
        <li>IP addresses: {{ hostvars[thehost]['ansible_all_ipv4_addresses'] | d(['unknown']) | join(', ') }}</li>
        <li>ID Snapshot: {{ hostvars[thehost]['snapshot_name'] | d(['unknown']) }}</li>
      </ul>

      <p>Job Status: <strong>{% if hostvars[thehost]['job_success']|bool %}Success{% else %}Failed{% endif %}</strong></p>

      <!-- We don't indent anything between 'pre' tags , because the space will be taken literally -->
      <p><strong>LiverPool ::: Actualización RHEL :::: Actualizar RHEL</strong></p>
      <div >
        <pre class="code">
        {{ hostvars[thehost]['result_package_update']['msg'] | default('no output') | trim }}
        {{ hostvars[thehost]['result_package_update']['results'] | default('no output') | trim }}
        </pre>
      </div>
      <p><strong>Experian ::: Actualización RHEL :::: Estado sistema preparchado - postparchado</strong></p>
      <div>
	  <table>
	  <thead>
	    <tr><td>Estatus preparchado</td><td>Estado postparchado</td></tr>
	  </thead>
	  <tr>
	    <td>
		<div class="code">
		{% if hostvars[thehost]['result_print_prepatch'] is defined %}
			{% for raw in hostvars[thehost]['result_print_prepatch']['stdout_lines'] %}
			{{ raw | default('no output') | trim }}
			{% endfor %}}
		{% endif %}
		</div>
		</td>

		<td>		        
		<div class="code">
		{% if hostvars[thehost]['result_print_postpatch'] is defined %}
			{% for raw in hostvars[thehost]['result_print_postpatch']['stdout_lines'] %}
			{{ raw | default('no output') | trim }}
			{% endfor %}
		{% endif %}
		</div>
		</td>
	  </tr>
	  </table>

      </div>

      <p><strong>Liverpool ::: Actualización RHEL :::: Comparativo preparchado vs postparchado </strong></p>
	  <table>
	  <tr>
	  <td>
      <div class="code">
       
		{% if hostvars[thehost]['result_compare_files'] is defined %}
			{% for raw in hostvars[thehost]['result_compare_files']['stdout_lines'] %}}
			{{ raw | default('no output') | trim }}
			{% endfor %}}
		{% endif %}
     
      </div> 
	  </td>
	  </tr>
	  </table>
	  <p><strong>Liverpool ::: Actualización RHEL :::: Estado de servicios preparchado vs postparchado</strong></p>
      <div >
	  	  <table>
	  <thead>
	    <tr><td>Servicios preparchado</td><td>Servicios postparchado</td></tr>
	  </thead>
	  <tr>
	    <td >
		<div class="code">
		{% if hostvars[thehost]['estado_servicios_prepatch'] is defined %}
			{% for raw in hostvars[thehost]['estado_servicios_prepatch'] %}
			  {{ raw.name | default('no output') }}  {{ raw.status | default('no output') }}
			{% endfor %}
		{% endif %}
		</div>
		</td>
		<td >	
	    <div class="code">
		{% if hostvars[thehost]['estado_servicios_postpatch'] is defined %}		
			{% for raw in hostvars[thehost]['estado_servicios_postpatch'] %}
			  {{ raw.name | default('no output') }}  {{ raw.status | default('no output') }}
			{% endfor %}
		{% endif %}
		</div>
		</td>
	  </tr>
	  </table>
      </div>	  

    {% endif %}
